.toggle_container {
  display: grid;
  place-items: center end;
  height: 72px;
  font-size: var(--responsive--font-sm);
}

.toggle {
  height: 1.5em;
  width: 3em;
  background: var(--clr-dark);
  border-radius: var(--default-border-radius);
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  font-size: inherit;
  cursor: pointer;
}

.toggle::before,
.toggle::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border-radius: var(--default-border-radius);
  background: var(--clr-light);
  position: absolute;
  inset: 0.25em;
}

.toggle,
.curtain {
  overflow: hidden;
}

.curtain,
.toggle::before,
.toggle::after {
  transition: transform 300ms;
}

.curtain,
.toggle::before,
.toggle:checked::after {
  transition-timing-function: ease-out;
  transition-delay: 0ms;
}

.toggle:checked::before,
.toggle::after {
  transition-delay: 225ms;
  transition-timing-function: cubic-bezier(0.3, 1.6, 0.5, 0.7);
}

.toggle::before {
  transform: translateX(-150%);
}

.toggle:checked::before {
  transform: translateX(150%);
}

.toggle:checked::after {
  transform: translateX(300%);
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  background: hsl(0, 0%, 100%);
  mix-blend-mode: difference;
  pointer-events: none;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.toggle:checked ~ .curtain {
  transform: scaleX(1);
}
